Source: godinstall
Section: utils
Priority: extra
Maintainer: Tristan Colgate-McFarlane <tcolgate@gmail.com>
Build-Depends: debhelper (>= 7), go, git, ca-certificates, mercurial, dpkg-dev
Standards-Version: 3.8.3

Package: godinstall
Architecture: amd64
Depends: debhelper (>= 7), libc6
Description: HTTP managable apt-server
 GoDInstall is an APT archive manager which
 can receive uploaded files via HTTP

